/*//////////////////////////////////////////////////////////////////////////////
 									PAGE
//////////////////////////////////////////////////////////////////////////////*/
html {
	background: #E6E6E6;
}

body {
	font-family: Helvetica, Arial, sans-serif; 
	margin: 1rem 4rem auto 4rem;
	min-width: 400px;
}

.errormsg, .successmsg {
	margin: 0;
	border-radius: 14px;
	border-width: 1px;
	border-style: solid;
	padding: 1rem;
	padding-left: 4rem;
	background-repeat: no-repeat;
	background-position: 1rem center;
	background-size: 2rem auto;
}

.errormsg {
	background-color: #FF5B49;
	border-color: #B61200;
	background-image: url('../images/error.png');
}

.successmsg {
	background-color: #34CD01;
	border-color: #228301;
	background-image: url('../images/success.png');
}

/*//////////////////////////////////////////////////////////////////////////////
 								LOGIN and REGISTER
//////////////////////////////////////////////////////////////////////////////*/

form#login_form, form#register_form {
    width: 90%;
    padding: 1.5rem 5% 1rem 5%;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #2720E6;
    margin: 1rem auto;
}

form#login_form h1#title, form#register_form h1#title {
	width: 15%;
    text-align: center;
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0 auto;
    margin: 0 auto 1rem auto;
}

form#login_form input, form#register_form input {
    width: 30%;
    height: 42px;
    box-sizing: border-box;
    display: block;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 auto 20px auto;
    font-size: 14px;
    padding: 0 20px 0 50px;
    outline: none;
}

form#login_form input#username, form#register_form input#reg_username {
    background: #fff url("resources/username.png") 20px top no-repeat;
    background-size: 16px 80px;
}

form#login_form input#username:focus, form#register_form input#reg_username:focus {
    background: #fff url("resources/username.png") 20px bottom no-repeat;
    background-size: 16px 80px;
}

form#login_form input#password, form#register_form input#reg_password {
    background: #fff url("resources/password.png") 20px top no-repeat;
    background-size: 16px 80px;
}

form#login_form input#password:focus, form#register_form input#reg_password:focus {
    background: #fff url("resources/password.png") 20px bottom no-repeat;
    background-size: 16px 80px;
}

form#register_form input#reg_email {
    background: #fff url("resources/email.png") 20px top no-repeat;
    background-size: 16px 80px;
}

form#register_form input#reg_email:focus {
    background: #fff url("resources/email.png") 20px bottom no-repeat;
    background-size: 16px 80px;
}

form#register_form input#reg_name {
    background: #fff url("resources/name.png") 20px top no-repeat;
    background-size: 16px 80px;
}

form#register_form input#reg_name:focus {
    background: #fff url("resources/name.png") 20px bottom no-repeat;
    background-size: 16px 80px;
}

form#login_form input:active, form#login_form input:focus, form#register_form input:active, form#register_form input:focus {
    border: 1px solid #716def;
}
form#login_form button#submit, form#register_form button#submit {
    width: 30%;
    display: block;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 auto 20px auto;
    height: 40px;
    background: #2720E6;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #1713ae;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

form#login_form button#submit:hover, form#register_form button#submit:hover {
    background: #716def;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgba(1,0,0,0.1) inset;
}


/*//////////////////////////////////////////////////////////////////////////////
 									EVENT
//////////////////////////////////////////////////////////////////////////////*/

div.event {
	border-radius: 14px;
	background: white;
	border-color: #DBDBDB;
	border-width: 2px;
	border-style: solid;
	padding: 0 0 20rem 0;
}

div.event h1#title {
	margin: 1rem 2rem 0 2rem;
	padding: 0;
	font: 700 30px "Arial Black", Gadget, sans-serif;
	text-align: left;
	color: black;
	width: auto;
}

div.event img#image{
	float:left;
	margin: 1rem 2rem 1rem 2rem;
	width: 20rem;
	height: 20rem;
	border-radius: 8px;
	background: black;
}

div.event p#description {
	font-family: Arial, sans-serif;
	font-size: 20px;
    word-wrap: break-word;
    margin: 2rem 0 2rem 2rem;
}

div.event time#date {
	font-family: Arial, sans-serif;
	font-size: 15px;
    margin: 0 0 0 2rem;
}

/*//////////////////////////////////////////////////////////////////////////////
 									HEADER
//////////////////////////////////////////////////////////////////////////////*/

header#pagetop {
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #2720E6;
    margin: 1rem auto;
}

header#pagetop nav {
	padding: 0 0 0.3rem 0;
}

header#pagetop h1#title {
	padding: 0.5rem 1rem 0 1rem;
	margin: 0;
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: 900;
	color: #2720E6;
	display: block;
	width: 40rem;
	text-shadow: 8px 8px 8px rgba(0,0,0,.1);
	
	margin: 5px auto;
	text-align: center;
	font: 700 50px "Arial Black", Gadget, sans-serif;
}

header#pagetop ul#menuoptions {
	margin: 1rem 0 1rem 2rem;
	padding: 0;
	list-style-type: none;
	padding: 0 0 0.5rem 0;
}

header#pagetop ul#menuoptions a li {	
	display: inline;
	margin: 0;
	background: #2720E6;
	padding: 6px 6px 6px 6px;
	border-radius: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: grey;
	box-shadow: 8px 8px 6px rgba(0,0,0,.1);
}

header#pagetop ul#menuoptions li:hover {
	background: #5F59FF;
}

header#pagetop ul#menuoptions a li {	
	text-decoration: none;
	color: white;
	font-family: Gadget, sans-serif;
}

/*//////////////////////////////////////////////////////////////////////////////
 									FOOTER
//////////////////////////////////////////////////////////////////////////////*/

footer#footer {
	margin: 0;
	display: block;
	width: auto;
	padding: 0.5rem 1rem 0.5rem 1rem;
	background-color: white;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #2720E6;
}

footer#footer p {
	font-family: Gadget, sans-serif;
}

