/*//////////////////////////////////////////////////////////////////////////////
 									FONTS
//////////////////////////////////////////////////////////////////////////////*/
@font-face {
	font-family: 'Montserrat Bold';
	src: url("resources/fonts/Montserrat-Bold.ttf"); /*URL to font*/
}

@font-face {
	font-family: 'Montserrat Regular';
	src: url("resources/fonts/Montserrat-Regular.ttf"); /*URL to font*/
}

@font-face {
	font-family: 'SansPoster';
	src: url("resources/fonts/SansPoster.ttf"); /*URL to font*/
}

/*//////////////////////////////////////////////////////////////////////////////
 									PAGE
//////////////////////////////////////////////////////////////////////////////*/
html {
	background: #E6E6E6;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 1rem 4rem auto 4rem;
	min-width: 900px;
}

.errormsg, .successmsg {
	margin: 0;
	border-radius: 14px;
	border-width: 1px;
	border-style: solid;
	padding: 1rem;
	padding-left: 4rem;
	background-repeat: no-repeat;
	background-position: 1rem center;
	background-size: 2rem auto;
}

.errormsg {
	background-color: #FF5B49;
	border-color: #B61200;
	background-image: url('../images/error.png');
}

.successmsg {
	background-color: #34CD01;
	border-color: #228301;
	background-image: url('../images/success.png');
}

/*//////////////////////////////////////////////////////////////////////////////
 								USER PROFILE
//////////////////////////////////////////////////////////////////////////////*/

div.user_profile {
	width: 90%;
	padding: 1.5rem 5% 1rem 5%;
	background: #fff;
	border-top: 5px solid #2720E6;
	margin: 1rem auto;	
}

div.user_profile h1#title {
	font-family: "Montserrat Regular";
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 30px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 20px;
	margin: 0 auto 1rem auto;	
}

div.user_profile p, div.user_profile p input.edit {
	font-family: "Montserrat Regular";
	font-size: 24px;
}

div.user_profile p input.edit.valid {
	color: green;
}

div.user_profile p input.edit.error {
	color: red;
	text-decoration: underline;
}

div.user_profile p strong {
	text-decoration: underline;
}

div.user_profile p a.edit {
	vertical-align: middle;
	padding: 0 0 6px 1rem;
}

div.user_profile p a.edit img {
	height: 24px;
	width: 24px;
	vertical-align: middle;
}

div.user_profile a.edit {
	display: none !important;
}

div.user_profile p:hover a.edit {
	display: inline-block !important;
}



/*//////////////////////////////////////////////////////////////////////////////
 								LOGIN and REGISTER
//////////////////////////////////////////////////////////////////////////////*/

form#login_form, form#register_form {
	width: 90%;
	padding: 1.5rem 5% 1rem 5%;
	background: #fff;
	border-top: 5px solid #2720E6;
	margin: 1rem auto;
}

form#login_form h1#title, form#register_form h1#title {
	font-family: "Montserrat Regular";
	width: 15%;
	text-align: center;
	color: #000;
	font-size: 30px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 20px;
	margin: 0 auto 1rem auto;
}

form#register_form div.form_row, form#login_form div.form_row {
	width: 50%;
	margin: 0 auto 0 auto;
	padding: 0;
	border-color: #2720E6;
	background: #fff url("resources/images/name.png") 20px top no-repeat;
	background-size: 0px 0px;
	background-position: center top;
}

form#register_form div.form_row div.form_row_icon, form#login_form div.form_row div.form_row_icon
	{
	display: inline-block;
	background: inherit;
	background-size: 16px 80px;
	background-position: center top;
	width: 20%;
	height: 42px;
	box-sizing: border-box;
	border-radius: 5px 0 0 5px;
	border: 1px solid #ccc;
	border-color: inherit;
	border-width: 1px 0 1px 1px;
	font-size: 14px;
	outline: none;
	color: rgba(1, 1, 1, 0);
	padding: 12px 10px 5px 0;
	margin: 0 0 1rem 0;
}

form#register_form div.form_row:hover, form#login_form div.form_row:hover
	{
	border-color: #716def;
}

form#register_form div.form_row input, form#login_form div.form_row input,
	form#register_form div.form_row input, form#login_form div.form_row input.valid
	{
	display: inline-block;
	width: 70%;
	height: 42px;
	box-sizing: border-box;
	border-radius: 0 5px 5px 0;
	border-style: solid;
	border-color: inherit;
	border-width: 1px 1px 1px 0;
	font-size: 14px;
	outline: none;
	padding: 0 0 0 0.5rem;
	margin: 0;
}

form#register_form div.form_row input:focus, form#login_form div.form_row input:focus
	{
	color: blue;
}

form#register_form div.form_row div.validity {
	display: inline-block;
	background: url("resources/images/neutral.png");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	width: 8%;
	height: 42px;
	box-sizing: border-box;
	border: 0 solid #ccc;
	font-size: 14px;
	outline: none;
	color: rgba(1, 1, 1, 0);
	padding: 12px 10px 5px 0;
	margin: 0 0 1rem 0.2rem;
}

form#register_form div.form_row input.valid+div.validity {
	background: url("resources/images/valid.png");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

form#register_form div.form_row input.error+div.validity {
	background: url("resources/images/error.png");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

/*	Name row	*/
form#register_form div.form_row div.form_row_icon#reg_name_icon {
	background: #fff url("resources/images/name.png") 20px bottom no-repeat;
	background-size: 16px 80px;
	background-position: center top;
}

form#register_form div.form_row:hover div.form_row_icon#reg_name_icon {
	background: #fff url("resources/images/name.png") 20px bottom no-repeat;
	background-size: 16px 80px;
	background-position: center bottom;
}

/*	Email row	*/
form#register_form div.form_row div.form_row_icon#reg_email_icon {
	background: #fff url("resources/images/email.png") 20px bottom no-repeat;
	background-size: 16px 80px;
	background-position: center top;
}

form#register_form div.form_row:hover div.form_row_icon#reg_email_icon {
	background: #fff url("resources/images/email.png") 20px bottom no-repeat;
	background-size: 16px 80px;
	background-position: center bottom;
}

/*	Username row	*/
form#register_form div.form_row div.form_row_icon#reg_username_icon,
	form#login_form div.form_row div.form_row_icon#login_username_icon {
	background: #fff url("resources/images/username.png") 20px bottom
		no-repeat;
	background-size: 16px 80px;
	background-position: center top;
}

form#register_form div.form_row:hover div.form_row_icon#reg_username_icon,
	form#login_form div.form_row:hover div.form_row_icon#login_username_icon
	{
	background: #fff url("resources/images/username.png") 20px bottom
		no-repeat;
	background-size: 16px 80px;
	background-position: center bottom;
}

/*	Password and confirm password rows	*/
form#register_form div.form_row div.form_row_icon#reg_password_icon,
	form#register_form div.form_row div.form_row_icon#reg_password_conf_icon,
	form#login_form div.form_row div.form_row_icon#login_password_icon {
	background: #fff url("resources/images/password.png") 20px bottom
		no-repeat;
	background-size: 16px 80px;
	background-position: center top;
}

form#register_form div.form_row:hover div.form_row_icon#reg_password_icon,
	form#register_form div.form_row:hover div.form_row_icon#reg_password_conf_icon,
	form#login_form div.form_row:hover div.form_row_icon#login_password_icon
	{
	background: #fff url("resources/images/password.png") 20px bottom
		no-repeat;
	background-size: 16px 80px;
	background-position: center bottom;
}

form#login_form button#submit, form#register_form button#submit, form.create_event div.submit_btn button
	{
	width: 30%;
	display: block;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin: 0 auto 20px auto;
	height: 40px;
	background: #2720E6;
	box-sizing: border-box;
	border: 1px solid #1713ae;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	outline: none;
	cursor: pointer;
}

form#login_form button#submit:hover, form#register_form button#submit:hover,
	form.create_event div.submit_btn button:hover {
	background: #716def;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #b9b9ff inset;
}

/*//////////////////////////////////////////////////////////////////////////////
 									EVENT
//////////////////////////////////////////////////////////////////////////////*/

div.event {
	background: white;
	border-color: #ccc;
	border-width: 2px;
	border-style: solid;
	padding: 0 0 2rem 0;
	margin: 0 0 1.3rem 0;
	overflow: auto;
}

div.event a.delete#delete_event img {
	width: 2.5rem;
	height: 2.5rem;
	float: right;
	margin: 2rem 4rem 0 0;
}

div.event a.delete#delete_event img {
	content: url("resources/images/trash_closed.png");
}

div.event a.delete#delete_event img:hover {
	content: url("resources/images/trash_open.png");
}

div.event h1#name {
	margin: 1rem 0 0 2rem;
	padding: 0 1rem 0 0;
	font: 700 30px "Montserrat Regular", "Arial Black", Gadget, sans-serif;
	text-align: left;
	color: black;
	display: inline-block;
}

div.event div.container {
	margin-bottom: 2rem;
}

div.event h1#name:hover + a.edit, div.event h1#name + a.edit:hover {
	display: inline-block !important;
	width: 2rem;
	height: 2rem;
	vertical-align: bottom;
	position: relative;
	top: -4px;
}

div.event a.edit {
	display: none !important;
}

div.event a.edit#edit_name img, div.event a.edit#edit_description img {
	height: 2rem;
	width: auto;
}

div.event a.edit#edit_date img {
	margin-bottom: 2rem;
	height: 1.5rem;
	width: auto;
}

div.event img#image {
	float: left;
	margin: 1rem 2rem 1rem 2rem;
	width: 30%;
	height: 30%;
	border-radius: 8px;
}

div.event p#description {
	font-family: "Montserrat Regular", Arial, sans-serif;
	font-size: 20px;
	word-wrap: break-word;
	margin: 2rem 2rem 0 2rem;
}

div.event div.container p#description:hover + a.edit, div.event div.container a.edit:hover {
	display: inline-block !important;
	horizontal-align: right;
	padding: 0 0 0 2rem;
	position: absolute;
	right: 8rem;
}

div.event datetime#date {
	margin: 1rem 0 2rem 5rem;
	padding: 0 1rem 0 0;
	font: 700 15px "Montserrat Bold", "Arial Black", Gadget, sans-serif;
	text-align: left;
	color: black;
	display: inline-block;
}

div.event datetime#date:hover + a.edit#edit_date, div.event a.edit#edit_date:hover {
	display: inline-block !important;
	vertical-align: bottom;
	position: relative;
	top: 4px;
}

/*	COMMENTS	*/

div.event div.comment_area {
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
}

div.event div.comment_area form.write_comment_form {
	width: 100%;
	margin: auto;
}

div.event div.comment_area form.write_comment_form textarea {
	display: block;	
	width: 99%;
	margin: auto;
	height: 6rem;
	border-radius: 10px;
	border-color: #ccc;
	border-width: 2px;
	font-family: "Montserrat Regular";
}

div.event div.comment_area form.write_comment_form button {
	width: 30%;
	display: block;
	border-radius: 5px;
	margin: 0.5rem auto 1rem auto;
	height: 40px;
	background: #2720E6;
	box-sizing: border-box;
	border: 1px solid #1713ae;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	outline: none;
	cursor: pointer;
}

div.event div.comment_area h2#title {
	font-family: "Montserrat Bold";
	margin-left: 4rem;
	text-decoration: underline;
}

div.event div.comment_area div.comment_container div.comment {
	display: block;
	margin: auto auto 0.5rem auto;
	
	border-width: 2px;
	border-color: #ccc;
	border-style: solid;
}

div.event div.comment_area div.comment_container div.comment:nth-child(2) {
	border-radius: 14px 14px 0 0 !important;
}

div.event div.comment_area div.comment_container div.comment:last-child {
	border-radius: 0 0 14px 14px !important;
}

div.event div.comment_area div.comment_container div.comment h3#user {
	margin: 1rem 0 1rem 2rem;
	font-family: "Montserrat Regular";
}

div.event div.comment_area div.comment_container div.comment p#text {
	margin: 0.5rem 1rem;
	font-family: "Montserrat Regular";
}

div.event div.comment_area div.comment_container div.comment h4#time {
	margin: 1rem 4rem;
	font-family: "Montserrat Bold";
}

/*//////////////////////////////////////////////////////////////////////////////
 								EDIT EVENT
//////////////////////////////////////////////////////////////////////////////*/

div.event input.edit.name {
	margin: 1rem 0 0 2rem;
	padding: 0 1rem 0 0;
	font: 700 30px "Montserrat Regular", "Arial Black", Gadget, sans-serif;
	text-align: left;
	color: black;
	display: inline-block;
}

div.event div.container textarea.edit.description {
	font-family: "Montserrat Regular", Arial, sans-serif;
	font-size: 20px;
	word-wrap: break-word;
	margin: 2rem 2rem 2rem 2rem;
	width: 50%;	
	height: 20rem;
}

div.event input.edit.date {
	margin: 1rem 0 2rem 5rem;
	padding: 0 1rem 0 0;
	font: 700 15px "Montserrat Bold", "Arial Black", Gadget, sans-serif;
	text-align: left;
	color: black;
	display: inline-block;
}

div.event input.edit.valid, div.event div.container textarea.edit.description.valid  {
	color: green;
}

div.event input.edit.error, div.event div.container textarea.edit.description.error {
	color: red;
	text-decoration: underline;
}

/*//////////////////////////////////////////////////////////////////////////////
 								EVENT BRIEF
//////////////////////////////////////////////////////////////////////////////*/

div.event_brief {
	background: white;
	border-color: #ccc;
	border-width: 2px;
	border-style: solid;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
    overflow: auto;
}

div.event_brief div.name{
	font-family: "Montserrat Regular";
	width: 100%;
	text-align: center;
	color: black;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 20px;
	margin: 1rem auto 1rem auto;
}

div.event_brief div.name a {
	color: black;
	font-family: "Montserrat Regular";
	font-size: 20px;
}

div.event_brief img {
	float: left;
	vertical-align: top;
	margin: 0 2rem 0 4rem;
	border-radius: 5px;
	height: 6rem;
	width: auto;
	max-width: 10rem;
}

div.event_brief p.description {
	font-family: 'Montserrat Regular';
	margin: 0 2rem 2rem 2rem;
}

div.event_brief datetime {
	font-family: 'Montserrat Bold';
	margin: 0 0 2rem 4rem;
}

div.event_brief div.name>* {
	display: inline;
}

div.event_brief div a.edit {
	display: none;
}

div.event_brief div:hover a.edit {
	display: inline;
}

div.event_brief div:hover a.edit img {
	width: 2em;
	height: 2em;
}

.more_content span {
	display: none;
}

.more_link {
	text-decoration: none;
	color: #c5c5c5;
}

/*//////////////////////////////////////////////////////////////////////////////
 								CREATE EVENT
//////////////////////////////////////////////////////////////////////////////*/

form.create_event {
	background: white;
	border-color: #ccc;
	border-width: 2px;
	border-style: solid;
	padding: 0 0 2rem 0;
	margin-bottom: 1rem;
}

form.create_event h1#name, div.event_brief h1.name {
	font-family: "Montserrat Regular";
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 30px;
	text-transform: uppercase;
	margin: 1.5rem auto 1rem auto;
}

form.create_event div {
	width: 50%;
	margin: auto;
}

form.create_event div.type select, form.create_event div input, form.create_event div textarea, form.create_event div.image input#image {
	display: inline-block;
	width: 40%;
	height: 42px;
	box-sizing: border-box;
	border-radius: 5px;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	font-size: 14px;
	outline: none;
	margin-bottom: 0.5rem;
	font-family: 'Montserrat Regular';
	vertical-align: middle;
}

form.create_event div textarea {
	height: 18rem;
}

form.create_event div.image input#image {
	height: auto;
}

form.create_event div label {
	display: inline-block;
	width: 30%;
	text-align: right;
	vertical-align: middle;
	font-family: 'Montserrat Bold';
}

form.create_event div.public input {
	width: 1rem;
	height: 30px;
	vertical-align: middle;
	margin: 0 0 0 0.5rem;
	padding: 0;
}

form.create_event div.image input {
	display: inline-block;
	height: 42px;
	margin-width: 0;
	border-color: rgba(1, 1, 1, 0);
	font-size: 14px;
	margin-bottom: 0.5rem;
}

/*
	Button styling next to login and register forms
*/

/*//////////////////////////////////////////////////////////////////////////////
 									HEADER
//////////////////////////////////////////////////////////////////////////////*/
header#pagetop {
	background: #fff;
	border-radius: 5px 5px 0 0;
	border-width: 2px;
	border-color: #ccc;
	border-style: solid;
	border-top: 5px solid #2720E6;
	margin: 1rem auto;
}

header#pagetop nav {
	padding: 0 0 0.3rem 0;
	display: inline-block;
}

header#pagetop h1#title {
	padding: 0.5rem 1rem 0 1rem;
	margin: 0;
	font-weight: 900;
	color: #2720E6;
	display: block;
	width: 40rem;
	text-shadow: 8px 8px 8px rgba(0, 0, 0, .1);
	margin: 5px auto;
	text-align: center;
	font: 700 50px "Montserrat Regular", "Arial Black", Gadget, sans-serif;
}

header#pagetop ul#menuoptions {
	margin: 1rem 0 1rem 2rem;
	padding: 0;
	list-style-type: none;
	padding: 0 0 0.5rem 0;
	display: inline-block;
}

header#pagetop ul#menuoptions li {
	display: inline;
	margin: 0;
	background: #2720E6;
	padding: 6px 6px 6px 6px;
	border-radius: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: grey;
	box-shadow: 8px 8px 6px rgba(0, 0, 0, .1);
}

header#pagetop ul#menuoptions li.active {
	background: #5551ff;
	text-decoration: underline;
	font-weight: bold;
	pointer-events: none;
	cursor: default;
}

header#pagetop ul#menuoptions li a {
	text-decoration: none;
	color: white;
	font-family: 'Raleway', Helvetica, sans-serif;
}

header#pagetop ul#menuoptions li:hover {
	background: #5F59FF;
}

header#pagetop form#search {
	display: inline-block;
	float: right;
	margin: 0 1.3rem 0 0;
}

header#pagetop form#search input {
	display: inline-block;
	box-sizing: border-box;
	border-radius: 5px;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	font-size: 18px;
	outline: none;
	padding: 0 0 0 0.5rem;
}

header#pagetop form#search button#submit {
	display: inline-block;
	border-style: solid;
	border-color: rgba(1, 1, 1, 0);
	width: 3rem;
	height: 3rem;
	background: url("resources/images/search.png");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	color: rgba(1, 1, 1, 0);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	outline: none;
	cursor: pointer;
}

header#pagetop form#search button#submit:hover {
	background: url("resources/images/search_hover.png");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

/*//////////////////////////////////////////////////////////////////////////////
 									FOOTER
//////////////////////////////////////////////////////////////////////////////*/
footer#footer {
	margin: 0;
	display: block;
	width: auto;
	padding: 0.5rem 1rem 0.5rem 1rem;
	background-color: white;
	background: #fff;
	border-color: #ccc;
	border-style: solid;
	border-width: 0 2px 2px 2px;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 -5px 0 #2720E6;
}

footer#footer p {
	font-family: Gadget, sans-serif;
}
